<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/stylesheets/style.css'/>
  </head>
  <body>
    <h1>kibana</h1>
    <hr>
    <ul>
      <li>test1</li>
      <li>test2</li>  
    </ul>
    <form>
      <div>
        
      </div>
    </form>
  </body>
</html>
