body,div,span,header,footer,nav,section,aside,article,ul, li, a, p, h1, h2, h3, h4,h5, i, b, textarea, button, input, select  {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  border: none;
  -webkit-tap-highlight-color:transparent;
}
button{
  cursor: pointer;  
}
input{
  background: none;  
}
body{
  color:#666;	
}
a{
  color:#2d9eca;	
}
