.app-index{
  width: 100%;
  height: 100%;
  display:flex;
}
.app-index-left{
  color: #fff;
  background-color: #353d47;
  width: 16rem;
  overflow: hidden;
  min-height: 100vh;
  nav ul{
    margin: 0 1rem;
    font-size: 0.8rem;
  }
  nav ul li{
  	text-align: center;
    background: #2a61ae;
    color: #fff;
    padding: 0.5rem;
    border-radius: 3px;
  }
  .function-list{
    padding-top: 1rem;
    ul li{
      a{
        display: block;
        padding: 0.7rem 1.7rem;
        color: #ffffff;
        &:hover{
          background-color: #626e7c;
        }
        span{
          float: left;
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
      }
    }
  }
  .user-operation{ 
  	height: 4rem;
  	line-height: 4rem;
    display:flex;
    padding:0 1rem;
    background-color: #67b792;
    box-shadow: 0px 2px 20px #0a0c0e;
    .logo{
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
      border-radius: 50px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
    .user-name{
      flex :1;  
    }
    .exit-button{
      width: 3rem;
      text-align: center;
      font-size: 0.7rem;
      border-radius: 3px;
    }
  }
}
.app-index-right{
	flex :1;
    min-height: 100vh;
    min-width: 0;
    padding: 10px;
    box-sizing: border-box;
}
.discover{
  background: url("../images/menuIcon/discover.png") no-repeat center center;
  background-size: 20px 20px;
}
.visualize{
  background: url("../images/menuIcon/visualize.png") no-repeat center center;
  background-size: 20px 20px;
}
.relationship{
  background: url("../images/menuIcon/relationship.png") no-repeat center center;
  background-size: 20px 20px;
}
