.metric{
  padding:1rem;
  h2,h3{
    color:#666;
    font-size:0.8rem;
    font-weight:bold;
    margin:0.5rem 0;
  }
  h3{
    color:#999; 
  }
  select{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  input{
    border-width: 2px;
    box-shadow: none;
    width: 100%;
    height: 2rem;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
}
.range-box{
  .range-input-box{
    margin-bottom:0.5rem;
    display:flex; 
    .in{
      flex:1;
      padding:0 0.5rem;
    }
    .my-btn{
      margin:0; 
    } 

  }
}
.pb10{  
  padding-bottom: 1rem;
}
.sp-radio{color:#cb0000;}
.sp-checkbox{color:#cb0000;}
.main-box{
  display: flex;
  width: 100%;  
}
.main-box-two{
  flex: 1;  
}
/* index-nav */
.index-nav{
  width:40rem; 
  margin: 10rem auto;
  padding: 1rem;
  background: #f4f4f4;
  padding-bottom: 0.5rem;
}
.index-nav li{
  margin-bottom: 0.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.5rem;
  background: #fff;
}
.index-nav li:hover{ 
  background: #ddd;  
}
/* board */
.borad-pad{
  padding: 0 1rem;  
}
.borad-heading{
  color: #000;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #b0b0b0;
}
.borad-heading2{
  color: #666;
  height: 2.5rem;
  line-height: 2.5rem;
  background: #fff;
}
.borad-heading.w{
  background: #fff;  
}
.borad-control-bar{
  height: 2.5rem;
  line-height: 2.5rem;
  display: flex; 
  background: #ddd;   
}
.borad-control-bar nav{
  flex: 1;
}
.borad-control-bar nav ul{
  display: flex;  
}
.borad-control-bar nav ul li{
  margin-right: 1rem; 
}
.borad-control-bar button{
  width: 2rem; 
  cursor: pointer;
}
.borad-control-bar button.go{
  background: #a7cdd9;
  color: #fff
}
.borad-control-bar button.stop{
  background: #efefef;  
}
.every-item .every-item-neck{
  height: 2.5rem;
  line-height: 2.5rem;
  display: flex;    
}
.every-item .every-item-neck p{
  flex: 1;  
}
.every-item .every-item-neck p button{
  width: 2rem;
  margin-right: 1rem; 
  padding: 0.5rem 0;
  background: #a7cdd9;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.every-item .every-item-neck.r{
  width: 2rem;  
}
.choose-box{
  background: #f4f4f4;
  height: 2.5rem;
  line-height: 2.5rem; 
}
.choose-box select{
  width: 100%;  
}
.my-btn{
  margin: 0.5rem 0;
  background: #5b9db5;
  color: #fff;
  padding: 0.5rem 0.8rem;
  border-radius: 3px;
}