.char-list{
  padding: 30px 0;
}
.chart-list-row-container{
  h2{
    margin-left: 10px;
    font-size: 18px;
    color: #191e23;
  }
}
.chart-list-row{
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
}
.chart-list-container{
  width: 140px;
  height: 140px;
  margin: 10px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #ced5da;
  border-radius: 4px;
  &:hover{
    background-color: #fff;
    border: 1px solid #00a6ff;
  }
}
.chart-list-item{
  flex: none;
  text-align: center;
  div{
    color: #191e23;
  }
}