.result{
  table{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-collapse:separate;
    border-spacing: 0;
    td{
      padding: 5px;
      white-space: nowrap;
    }
    tr:nth-child(odd){
      background-color: #f4f5f7;
    }
    tr td:first-child{
      width: 50px;
      text-align: center;
    }
  }
}