.result{
  table{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-collapse:separate;
    border-spacing: 0;
    td{
      padding: 5px;
      white-space: nowrap;
    }
    tr:nth-child(odd){
      background-color: #f4f5f7;
    }
    tr td:first-child{
      width: 50px;
      text-align: center;
    }
  }
}
#search{
  margin:24px 10px;
  &:disabled{
    background-color: #5d6e80;
    &:hover{
      background-color: #5d6e80;
      cursor: not-allowed;
    }
  }
}
#doubleRelationship{
  width: 20px;
  height: 20px;
  margin: 30px 10px 0 10px;
  background: url("../../images/otherIcon/doubleRelationship.png") no-repeat center center;
  background-size: 20px 20px;
}
.search-container{
  position: relative;
}
.search-list{
  border: 1px solid #ecf0f1;
  position: absolute;
  top: 54px;
  width: 100%;
  box-sizing: border-box;
  li{
    padding: 5px 16px;
    font-size: 14px;
    &:hover{
      background-color: #00B7FF;
      color: #ffffff;
      cursor: pointer;
    }
  }
}