.table-container{
  padding: 10px;
  table{
    min-width: 955px;
    border-collapse:separate;
    border-spacing: 0;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    th,tr:nth-child(even){
      background-color: #f4f5f7;
    }
    td,th{
      padding: 5px;
      border-right: 1px solid #c3c4c6;
      border-bottom: 1px solid #c3c4c6;
      white-space: nowrap;
    }
    tr td:last-child,th:last-child{
      border-right: 0;
    }
    tr:last-child td{
      border-bottom: 0;
    }
    th:first-child{
      border-top-left-radius: 10px;
    }
    th:last-child{
      border-top-right-radius: 10px;
    }
    tr:last-child td:first-child{
      border-bottom-left-radius: 10px;
    }
    tr:last-child td:last-child{
      border-bottom-right-radius: 10px;
    }
    tr:hover{
      background-color: #dcdddf;
    }
  }
}